.no-scroll {
    overflow: hidden;
}

.podcast {
    background-color: rgb(255, 255, 255);
}

.picture-podcast {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.open-comment, .close-icon {
    cursor: pointer;
}

.comments-opened {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.comments-container {
    height: 100vh;
    right: 0;
    width: 550px;
}

.commentItems-container {
    height: calc(100vh - 270px);
}

.logged .commentItems-container {
    height: calc(100vh - 350px);
}

.dark-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.row {
    width: 100%;
}

.comments-container {
    border-bottom: rgb(206, 80, 80) 4px solid;
    padding: 0;
}

textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}



@media (max-width: 768px) {
    .comments-container {
        width: 100%;
    }
}