body {
    background: rgb(212,225,230);
    background: linear-gradient(0deg, rgb(238, 238, 238), rgb(236, 236, 236));
}

.podcast {
    background-color: rgb(33, 33, 36);
}

.picture-podcast {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dark-filter {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}