body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.form-login {
    background-color: rgba(0, 0, 0, 0.3);
}

@media (max-width: 575.98px) {
    .form-login {
        background-color: inherit;
    }
}