{% extends 'layout.html.twig' %}

{% block title %}Mis podcasts{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row row-cols-auto">
            {% for podcast in podcasts %}
                    <div class="col-4 border">
                        <img src="{{ asset('images/podcasts/' ~ podcast.picture) }}" alt="{{ podcast.title }}" class="img-thumbnail">
                        <p>{{ podcast.description }} ...</p>
                        <p>{{ podcast.title }}</p>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
