{% extends 'layout.html.twig' %}

{% block title %}Mis podcasts{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/podcasts.css') }}">
{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-between align-items-baseline">
        <h1 class="mt-5">Mis podcasts</h1>
        <a href="{{ path('podcast_new') }}"><button class="btn btn-success mr-0 h-25 shadow">Crear podcast</button></a>
    </div>
    {% include "/includes/podcasts.html.twig" %}
{% endblock %}
