{% if users|length < 2 %}
    <div class="container bg-danger text-white mt-5 p-5" style="margin-bottom: 10vw;">
        <p>Todavía no hay ningun usuario.</p>
        <p>Puede registrarse <a href="{{path('app_register')}}">aquí</a></p>
    </div>
{% endif %}