{% extends "layout.html.twig" %}

{% block content %}
    <section class="my-5">
        <div>
            <div class="m-5 p-5 shadow-lg">
                {% block form %}

                {% endblock %}
            </div>
        </div>

        {#}PENDING TO CREATE{#}
        {#}<div class="col-6 border-left">
            {% block previewView %}

            {% endblock %}
        </div>{#}
    </section>
{% endblock %}