{% extends "layout.html.twig" %}

{% block content %}
    <section class="row my-5">
    {% block section %}
        <div class="col-6">
            <div class="m-5 p-5 shadow-lg">
                {% block form %}

                {% endblock %}
            </div>
        </div>

        <div class="col-6 border-left">
            {% block previewView %}

            {% endblock %}
        </div>
    {% endblock %}
    </section>
{% endblock %}