{% extends "base.html.twig" %}

{% block name %}{% endblock %}

{% block stylesInLine %}
    <style>
        .nav-item {
            border-bottom: rgb(89, 89, 95) 1px solid;
        }

        .nav-link {
            color: #ffffff;
        }
    </style>
{% endblock %}

{% block body %}
    {% block header %}
        <header class="border-bottom">
            <div class="bg-light px-5 py-4 d-flex justify-content-between align-items-baseline">
                <div class="d-none d-xl-block">
                    <p class="h3">Panel de administración</p>
                </div>

                {% include "includes/menuMobileAdmin.html.twig" %}
            </div>
        </header>
    {% endblock %}

    {% block menu %}
    <div class="row justify-content-between mr-5">
        {% include "includes/menuAdmin.html.twig" %}
        
        <section class="col-7 col-12 col-xl-7 shadow my-5 mx-4 mx-xl-0 px-4 pb-4 bg-light rounded">
            {% block content %}{% endblock %}
        </section>


        <aside class="d-none d-xl-block col-xl-2 shadow my-5 px-4 pb-4 bg-light rounded">
            <p class="h4 py-2 text-secondary border-bottom border-secondary">Estadísticas</p>
            <div class="px-1">
                {% for group,value in statistics %}
                    <b><p>{{ group }}</p></b>
                    {% for item,value in value %}
                        <p>{{ item }} = {{value}}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        </aside>
    </div>
    {% endblock %}

    {% block footer %}
    
    {% endblock %}
{% endblock %}