<form method="post" action="{{ path('podcast_enable', {'id': podcast.id}) }}" onsubmit="return confirm('¿Estas seguro de que quieres activar este podcast?');">
    <input type="hidden" name="_token" value="{{ csrf_token('enable' ~ podcast.id) }}">
    <button class="crud-button btn btn-success"><i class="bi bi-check2"></i></button>
</form>
