{% extends 'layout.html.twig' %}

{% block title %}Editar Podcast{% endblock %}

{% block content %}
    <h1>Editar Podcast</h1>

    {% set edit = true %}

    {{ include('podcast/_form.html.twig', {'button_label': 'Update', 'edit': true}) }}
{% endblock %}
