<form method="post" action="{{ path('user_disable', {'id': user.id}) }}" onsubmit="return confirm('¿Estás seguro de que quieres desactivar a este usuario?');">
    <input type="hidden" name="_token" value="{{ csrf_token('disable' ~ user.id) }}">
    <button class="crud-button btn btn-danger"><i class="bi bi-archive-fill"></i></button>
</form>