{% extends 'formUser.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block form %}
    <h1>Editar usuario</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
